<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.1.1" targetFramework="net48" />
  <package id="Google.Apis" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.60.0" targetFramework="net48" />
  <package id="ImapX" version="2.0.0.18" targetFramework="net48" />
  <package id="MailKit" version="4.0.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="MimeKit" version="4.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Spire.Doc" version="11.5.6" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="WPF-UI" version="2.0.3" targetFramework="net48" />
</packages>